---
import { CHANGE_TYPES } from "../../lib/repo.js";
const { release } = Astro.props;
const slug = release.version.replace(/\./g, "-");
const labels = Object.fromEntries(CHANGE_TYPES.map((t) => [t.key, t.label]));
---

<div class="release" id={slug}>
  <div class="rel-head">
    <a class="ver-n" href={`#${slug}`}>{release.version}</a>
    {release.date && <span class="date">{release.date}</span>}
    {release.unreleased && <span class="badge">Unreleased</span>}
  </div>
  <ul class="rel-list">
    {release.changes.map((change) => (
      <li data-type={change.type}>
        <span class={`chip ${change.type}`}>{labels[change.type]}</span>
        <span set:html={change.body} />
      </li>
    ))}
  </ul>
</div>
